* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/BAD\ GRUNGE.ttf") format("truetype");
}

body {
  font-family: "MyFont", sans-serif;
  margin: 0;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
}

#container {
  display: none;
}

.welcome-screen {
  position: relative;
  z-index: 0;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  -webkit-box-shadow: inset 1px 1px 33px 23px #000000;
  box-shadow: inset 1px 1px 33px 23px #000000;
  cursor: none;
}

.target-line,
.target-line-1,
.target-line-2,
.target-line-3 {
  pointer-events: none;
}

.target-line {
  position: absolute;
  width: 0;
  height: 2px;
  border: 1px dashed gray;
  transform-origin: left center;
  top: 100%;
  left: 50%;
}

.target-line-1 {
  position: absolute;
  width: 0;
  height: 2px;
  border: 1px dashed gray;
  transform-origin: left center;
  bottom: 100%;
  left: 50%;
}

.target-line-2 {
  position: absolute;
  width: 0;
  height: 2px;
  border: 1px dashed gray;
  transform-origin: left center;
  bottom: 50%;
  left: 100%;
}

.target-line-3 {
  position: absolute;
  width: 0;
  height: 2px;
  border: 1px dashed gray;
  left: 0;
  top: 50%;
  transform-origin: left center;
}
.target-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
}

.mid-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 15px 5px #00000067;
  box-shadow: inset 0px 0px 15px 5px #00000067;
  border: 5px solid rgb(57, 184, 230);
}

.sea-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(10px);
}

.mid-hero button {
  font-family: "MyFont", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  top: 30%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(57, 184, 230);
  color: white;
  font-weight: lighter;
  -webkit-box-shadow: inset 0px 0px 15px 5px #00000067;
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.273);
}

.mid-hero button:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  cursor: none;
}

.mid-hero h1 {
  font-family: "MyFont", sans-serif;
  font-size: 100px;
  color: rgb(57, 184, 230);
  font-weight: lighter;
  text-shadow:
    3px 5px 2px #474747,
    40px 40px 2px rgba(206, 89, 55, 0);
}

.hero-vid {
  height: 300px;
}

.computer-board {
  position: relative;
}
.computer-board img {
  object-fit: contain;
  object-fit: cover;

  pointer-events: none;
  z-index: 2;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.ships-container {
  position: absolute;
  left: 50%;
  right: 50%;
  justify-content: center;
  gap: 50px;
  bottom: 5px;
  display: none;
}

.ships-container img {
  max-height: 150px;
}

.mark {
  position: absolute;
  z-index: 9999999;
  left: 44%;
  top: 42%;
}

.player-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);

  border: 2px solid black;
  height: 100%;
  border: 2px solid green;
}
.player-board img {
  z-index: 2;
  border: 2px solid green;
}

.computer-board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 2px;
  height: 100%;
  border: 2px solid red;
}

.box {
  position: relative;
  background-color: blue;
  border: 1px solid black;
  overflow: hidden;
}
