* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.player-board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 2px;
  border: 2px solid black;
  height: 100%;
  border: 2px solid green;
  flex-wrap: wrap;
  padding: 100px;
}

.computer-board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 2px;
  height: 100%;
  border: 2px solid red;
  flex-wrap: wrap;
  padding: 100px;
}

.box {
  background-color: blue;
  border: black;
}
