* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/BAD\ GRUNGE.ttf") format("truetype");
}

body {
  font-family: "MyFont", sans-serif;
  margin: 0;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
  background-image: url(./assets/ships-img/sea.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(20px);
}

#container {
  display: none;
}

.welcome-screen {
  position: relative;
  z-index: 0;
  border: 2px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  cursor: none;
}

.newship {
  position: absolute;
  z-index: -1;
  height: 100%;
  bottom: -50%;
  width: 100%;
  transition: bottom 2s ease-in;
}

.show {
  bottom: -20%;
  animation: floating 10s infinite alternate;
}

@keyframes floating {
  from {
    transform: translateY(-20px);
  }

  20% {
    transform: translateX(20px);
  }
  70% {
    transform: translateX(-20px);
  }
  to {
    transform: translateY(10px);
  }
}
.target-line,
.target-line-1,
.target-line-2,
.target-line-3 {
  pointer-events: none;
}

.target-line {
  position: absolute;
  width: 0;
  height: 2px;
  border: 1px dashed gray;
  transform-origin: left center;
  top: 100%;
  left: 50%;
}

.target-line-1 {
  position: absolute;
  width: 0;
  height: 2px;
  border: 1px dashed gray;
  transform-origin: left center;
  bottom: 100%;
  left: 50%;
}

.target-line-2 {
  position: absolute;
  width: 0;
  height: 2px;
  border: 1px dashed gray;
  transform-origin: left center;
  bottom: 50%;
  left: 100%;
}

.target-line-3 {
  position: absolute;
  width: 0;
  height: 2px;
  border: 1px dashed gray;
  left: 0;
  top: 50%;
  transform-origin: left center;
}
.target-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
}

.mid-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;

  height: 48vh;
  width: 100vw;
  z-index: -2;
  overflow: hidden;
}

.mid-hero button {
  font-family: "MyFont", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  top: 30%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(57, 184, 230);
  color: white;
  font-weight: lighter;
  -webkit-box-shadow: inset 0px 0px 15px 5px #00000067;
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.273);
}

.mid-hero button:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  cursor: none;
}

.mid-hero h1 {
  position: absolute;
  font-family: "MyFont", sans-serif;
  font-size: 20rem;
  color: rgb(58, 114, 148);
  font-weight: lighter;
  text-shadow:
    3px 5px 2px #474747,
    40px 40px 2px rgba(206, 89, 55, 0);
  bottom: 300px;
  transition: bottom 2s ease-in;
}

.show-hero h1 {
  bottom: -120px;
}

.hero-vid {
  height: 300px;
}

.computer-board {
  position: relative;
}
.computer-board img {
  object-fit: contain;
  object-fit: cover;

  pointer-events: none;
  z-index: 2;
}

main {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  background-image: url(./assets/ships-img/sea.jpg);
  background-position: center;
  background-size: cover;
}
main h1 {
  text-align: center;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px 50px 20px;
  gap: 10px;
}

.ships-container {
  position: absolute;
  max-height: 500px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  gap: 50px;
  bottom: 5px;
  display: none;
  width: 500px;
  padding: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 9999999;
  transition: max-height 0.4s ease;
  border-radius: 20px;
  border: 1px solid white;
}

.ships-container.hidden {
  max-height: 0;
}

.ships-container img {
  max-height: 150px;
}

.up-image {
  position: absolute;
  top: -30px;
  height: 50px;
  width: 50px;
}

.mark,
.check-mark {
  position: absolute;
  z-index: 3;
  left: 44%;
  top: 42%;
}

.player-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);

  border: 2px solid black;
  height: 100%;
  border: 2px solid green;
}
.player-board img {
  z-index: 0;
  object-position: right;
  pointer-events: none;
  border: 2px solid green;
}

.computer-board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  height: 100%;
  border: 2px solid red;
}
.computer-ship {
  visibility: hidden;
}

.computer-ship.revealed {
  visibility: visible;
}

.box {
  position: relative;
  border: 1px solid white;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transition: transform 0.25s;
}

/* .box:has(.mark) {
  z-index: 3;
  backdrop-filter: none;
} */
.loading-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999999;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 25px;
}

.loading-orbit {
  position: relative;
  border: 3px solid gray;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: 3s glow infinite alternate;
  overflow: hidden;
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 0px 0px rgb(57, 184, 230);
  }

  50% {
    box-shadow: 0px 0px 23px 6px white;
  }

  75% {
    box-shadow: 0px 0px 0px 0px rgb(57, 184, 230);
  }

  to {
    box-shadow: 0px 0px 15px 6px rgb(58, 114, 148);
  }
}

.gif {
  position: absolute;
  height: 100%;
  transform: translate(-50%);
  animation: counter-orbit 1s infinite linear;
}

.loading-bar {
  height: 5%;
  width: 60%;
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 0%;
  background-color: rgb(58, 114, 148);
  border-radius: 20px;
  transition: width 0.2s ease-in;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 30%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);

  animation: glass-effect 1s infinite linear;
}

@keyframes glass-effect {
  from {
    left: -50%;
  }

  to {
    left: 100%;
  }
}
